<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../resources/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Qwitcher+Grypen:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="hobbies.html">Hobbies</a></li>
                <li><a href="resume.html">Resume</a></li>
            </ul>
            <a href="home.html">
                <img src="../resources/img/logo.png"
                    alt="Go to Main Section">
            </a>
        </nav>
    </header>
    <main>
        <div class="in-touch-container">
            <h1>
                Get In Touch
            </h1>
            <form>
                <div class="input-group">
                    <div class="input-item">
                        <label for="firstName">First Name <span
                                class="dm-serif-text-light smaller-font">(required).</span></label>
                        <input type="text" id="firstName" name="firstName" required>
                    </div>
                    <div class="input-item">
                        <label for="lastName">Last Name <span
                                class="dm-serif-text-light smaller-font">(required).</span></label>
                        <input type="text" id="lastName" name="lastName" required>
                    </div>
                </div>
                <div class="input-group2">
                    <label for="email">Email Address <span
                            class="dm-serif-text-light smaller-font">(required).</span></label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Message <span
                            class="dm-serif-text-light smaller-font">(required).</span></label>
                    <textarea id="message" name="message" required></textarea>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </main>


    <footer>
        <p>&copy; 2024 Grigory Shatalin. All rights reserved.</p>
    </footer>
</body>

</html>