<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../resources/css/resume.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Qwitcher+Grypen:wght@400;700&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="hobbies.html">Hobbies</a></li>
                <li><a href="resume.html">Resume</a></li>
            </ul>
            <a href="home.html">
                <img src="../resources/img/logo.png"
                    alt="Go to Main Section">
            </a>
        </nav>
    </header>
    <div class="container">
        <header>
            <h1>Grigory Shatalin</h1>
            <p class="contact-info">13117 NE 117th St., Kirkland, WA | grshatalin@outlook.com | 425-979-1161</p>
        </header>
        <a href="../resources/boulder resume.docx" target="_blank" download="resume.pdf">
            <button>Download PDF</button>
          </a>
        <section class="section">
            <h2>Education</h2>
            <p><strong>University of Colorado, Boulder</strong> - B.S. in Computer Science (Expected 2026)</p>
            <p>National Honor Society, 4.0 GPA. Currently enrolled in Discrete Structures, Calculus II, and Computer Systems.</p>
            
            <p><strong>Lake Washington Institute of Technology</strong> - Computer Science DTA/MRP (Sep 2023 – Aug 2024)</p>
            <p>Presidential Honors, 4.0 GPA. Assisted as a teacher assistant for computer science courses.</p>
            
            <p><strong>Tesla STEM High School</strong> - High School Diploma (Sep 2020 – Aug 2023)</p>
            <p>Honors student, graduated a year early. Participated in award-winning clubs at state and national levels.</p>
        </section>
        
        <section class="section">
            <h2>Experience</h2>
            <p><strong>Akvelon</strong> - Intern (June 2023 - Aug 2023)</p>
            <ul>
                <li>Worked closely with Microsoft PowerBI team to upgrade and push 4 visuals to production.</li>
                <li>Constructed IoT devices that collected 9000 readings a day of temperature data for 3 months.</li>
                <li>Built a SQL query in Azure store that collected and analyzed IoT data.</li>
                <li>Displayed collected data on upgraded PowerBI visuals to company executives.</li>
            </ul>
            
            <p><strong>STEP Academy</strong> - Computer Science Instructor (June 2022 - Present)</p>
            <ul>
                <li>Designed 2 workshops for students aged 7-18 and delivered coding lessons.</li>
                <li>Used gamification techniques to teach problem-solving skills in Minecraft with Java modifications.</li>
                <li>Taught introductory Python programming and a lesson on Git and command prompt for older students.</li>
            </ul>
        </section>
        
        <section class="section">
            <h2>Leadership & Activities</h2>
            <p><strong>Theta Tau</strong> - Member (Sep 2024 - Present)</p>
            <ul>
                <li>Oldest & Largest Co-Ed Fraternity for Engineers.</li>
                <li>Participate in community service, interview preparation workshops, and social events.</li>
                <li>Committee Team Lead, overseeing the design, planning, and execution of events for 80+ members.</li>
            </ul>
        </section>
        
        <section class="section">
            <h2>Skills & Interests</h2>
            <p><strong>Technical:</strong> Azure, SQL, Java, Python, C, C++, pandas, numpy, assembly, Linux, ROS.</p>
            <p><strong>Languages:</strong> Fluent in Russian.</p>
            <p><strong>Laboratory:</strong> CAD via SketchPro, Excel.</p>
            <p><strong>Interests:</strong> Architecture, Theta Tau, Water Polo.</p>
        </section>
    </div>
</body>
</html>